<nav class="navbar fixed-top navbar-expand-lg navbar-dark " id="header-logged-container">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login"><img src="/public/img/Spotify_Icon_RGB_Green.png" height="45">Webify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsedNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><img src="/public/img/if_Asset_23_2342209.png" height="35">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><img
                            src="/public/img/if_Asset_20_2342730.png" height="35">Browse</a>
                    <div class="dropdown-menu" data-target="#navbarDropdown" id="header-logged-container">
                        <a class="dropdown-item" href="/UsTop50">United States Top 50</a>
                        <a class="dropdown-item" href="/GlobalTop50">Global Top 50</a>
                        <a class="dropdown-item" href="/GlobalViral50">Global Viral 50</a>
                        <a class="dropdown-item" href="/UnitedStatesViral50">United States Viral 50</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/public/img/if_Asset_23_2342209.png" height="35">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid margin-playlists">
    <div class="row top-buffer">
        {{#each first5Songs}}
            {{#with track}}
                <div class="col-2" id={{@index}}>
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each sixthrough10}}
            {{#with track}}
                <div class="col-2" id="1{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each ellevenThrough15}}
            {{#with track}}
                <div class="col-2" id="2{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each sixteenThrough20}}
            {{#with track}}
                <div class="col-2" id="3{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each twentyThrough25}}
            {{#with track}}
                <div class="col-2" id="4{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each twenThrough30}}
            {{#with track}}
                <div class="col-2" id="5{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each thirtyoneThrough35}}
            {{#with track}}
                <div class="col-2" id="6{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each thirtysixThrough40}}
            {{#with track}}
                <div class="col-2" id="7{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each fortyoneThrough45}}
            {{#with track}}
                <div class="col-2" id="8{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                            <input type="hidden" id="songid" value={{id}}>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="row top-buffer">
        {{#each fortysixThrough50}}
            {{#with track}}
                <div class="col-2" id="9{{@index}}">
                    <div class="card border-success text-white" style="background-color: black">
                        <div class="card-header text-center">
                            {{popularity}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="Name">{{name}}</h5>
                            <input type="hidden" id="songid" value={{id}}>
                            <a class="btn btn-outline-success button-song" data-toggle="modal" data-target="#ModalCenter">Share</a>
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-1by1 border border-success">
                        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/{{id}}" allowtransparency="true" allow="encrypted-media" id="song0"></iframe>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SongName"></h5>
                </div>
                <div class="modal-body">
                    <form id="form-submit-comment">
                        <div class="form-group">
                            <label for="userComment">Please Enter a comment!</label>
                            <input type="text" id="userComment" name="users-submitted-comment" placeholder="Enter a comment">
                            <input type="hidden" name="Category" value={{Selected_Category}}>
                            <input type="hidden" name="User" value={{User}}>
                            <input type="hidden" name="songReferenceId" id="passBackId">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary sharing-specific-song" form="form-submit-comment">Share!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/playlist.js"></script>