<nav class="navbar fixed-top navbar-expand-lg navbar-dark " id="header-logged-container">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/public/img/Spotify_Icon_RGB_Green.png" height="45">Webify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsedNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><img src="/public/img/if_Asset_23_2342209.png" height="35">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><img
                            src="/public/img/if_Asset_20_2342730.png" height="35">Browse</a>
                    <div class="dropdown-menu" data-target="#navbarDropdown" id="header-logged-container">
                        <a class="dropdown-item" href="/UsTop50">United States Top 50</a>
                        <a class="dropdown-item" href="/GlobalTop50">Global Top 50</a>
                        <a class="dropdown-item" href="/GlobalViral50">Global Viral 50</a>
                        <a class="dropdown-item" href="/UnitedStatesViral50">United States Viral 50</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/public/img/if_Asset_23_2342209.png" height="35">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container margin-move">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <img id="profileImage" src={{profilePicture}} height="200" width="200" class="rounded-circle">
            {{#if Name}}
            <p class="text-left" id="Name"><u>Name</u>:{{Name}}</p>
            {{else}}
            <p class="text-left" id="Name"><u>Name</u>:{{WebName}}</p>
            {{/if}}
            <p class="text-left" id="Followers"><u>Followers</u>:{{followers}}</p>
            <p class="text-left"><u>Recently Shared Song</u>:</p>
        </div>
        <div class="col-8">
            <div class="container margin-down">
                {{#each commentData}}
                <div class="row border border-success user-comment" id="comment{{@index}}">
                    <input type="hidden" name="uniqueCommentid" value={{_id}} id="id_placeholder">
                    <div class="col-2 top-padding">
                        <img src={{User_profile_picture}} height="85" width="85" class="rounded-circle">
                    </div>
                    <div class="col-lg-9 col-sm-6 top-padding">
                        <h5 style="color: white">{{User}}</h5>
                        <p style="color: white">{{Shared_Commment}}</p>
                        <p style="color: white"><u>Category:</u>{{Category}}</p>
                        <iframe src={{Stream_url}} width="450" height="75" frameborder="0" allowtransparency="true"
                            allow="encrypted-media" id="song0"></iframe>
                        <a class="btn btn-success text-white comments-padding find-all-comments" data-toggle="modal" data-target="#ModalTop">View Comments</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalTop" tabindex="-1" role="dialog" aria-labelledby="ModalTop" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content content-style">
                <div class="modal-header view-comments-title">
                    <h4 class="text-white modal-title">Comments</h4>
                </div>
                <div class="modal-body" style="background-color: black">
                    <div class="container-fluid">
                        <p class="text-white">Album url will go here with embeded song or album art</p>
                        <p class="text-white">Comment 1</p>
                        <p class="text-white">Comment 1</p>
                        <p class="text-white">Comment 1</p>
                        <p class="text-white">Comment 1</p>
                        <form id="addingNewComment" action="/songs" method="POST">
                            <div class="form-group">
                                <input type="text" id="newlyMadeComment" name="newlyAddedComment" placeholder="Enter a new comment" size="40">
                                <input type="hidden" name="DatabaseId" id="DatabaseReferenceId">
                            </div>
                        </form>
                    </div>      
                </div>
                <div class="modal-footer modal-body-style" style="background-color: black">
                    <button type="submit" class="btn btn-outline-success text-white user-added-comment">Add Comment!</button>
                    <button type="button" class="btn btn-outline-success text-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/js/logged.js"></script>